* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  background-color: #ebe6e6;
  font-family: tahoma;
}
.container {
  width: 40rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.form_icon {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  position: absolute;
  right: 60rem;
}
.correct {
  fill: green;
}
.false {
  fill: red;
}
.input {
  display: flex;
  position: relative;
}
.registration {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.form_header {
  font-size: 2rem;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, rgb(77, 5, 141), rgba(157, 0, 255, 0.548));
  color: #fff;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.form_details {
  padding: 2rem;
}
.form_username,
.form_useremail,
.form_userpassword,
.form_userpassword {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.form_input {
  padding: 1rem;
  width: 100%;
  height: 3.5rem;
  font-size: 1.5rem;
  border: 2px solid #a9a7a7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn_submit {
  width: 100%;
  height: 4rem;
  border: none;
  background: linear-gradient(90deg, rgb(77, 5, 141), rgba(157, 0, 255, 0.548));
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
}
